@*
    This form can be used for creating and editing goals.
*@

<EditForm Model="Make" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Make Name: </label>
            <div>
                <InputText @bind-Value="@Make.Name" class="form-control" />
                <ValidationMessage For="@(() => Make.Name)" />
            </div>
        </div>
    </fieldset>

    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <ChangeUrl Target="makes" />
</EditForm>

