@page "/colours/create"

<h3 class="card-title">Create New Colour</h3>
<hr />
<br />

<EditForm Model="colour" OnValidSubmit="CreateColour">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Colour Name: </label>
        <div>
            <InputText @bind-Value="@colour.Name" class="form-control"/>
            <ValidationMessage For="@(() => colour.Name)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        Create Colour
    </button>

</EditForm>