@page "/Colours/"


<h3 class="card-title">Colours</h3>
<hr />
<br />

@if (Colours is null)
{
<div class="alert alert-info">Loading Colours ....</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var colour in Colours)
            {
                <tr>
                    <th>@colour.Name</th>
                    <th>
                        <a href="/colours/view/@colour.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/colours/edit/@colour.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(async ()=> await Delete(colour.Id))">
                            <span class="oi oi-book"></span>
                        </button>
                    </th>
                </tr>
            }
        </tbody>
    </table>
}