@*
    This form can be used for creating and editing goals.
*@

<EditForm Model="Model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Model Name: </label>
            <div>
                <InputText @bind-Value="@Model.Name" class="form-control" />
                <ValidationMessage For="@(() => Model.Name)" />
            </div>
        </div>
    </fieldset>


    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <ChangeUrl Target="models" />
</EditForm>

